body{
    margin: 0px;
    padding: 0px;
}
#one-txt{
    margin-top: 25%;
    margin-left: 5%;
}
#one-txt .txt-one{
    font-size: 28px;
    font-weight: bold;
}
#one-dis{
    width: 40%;
    height: 35px;
    margin-top: 5%;
    margin-left: 5%;
    line-height: 35px;
    border-left: 4px solid blue;
}
#one-dis .txt-twos{
    font-weight: bold;
    text-indent: 10px;
    display: block;
}
#one-png{
    width: 90%;
    height: 350px;
    margin: 5% auto;
    border-radius: 20px;
    background-color: black;
}
#one-butt{
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 10%;
}
#one-butt .b-one{
    border: none;
    width: 45%;
    height: 100%;
    color: #ffffff;
    background: none;
    font-weight: bold;
    background-color: blue;
}
#one-butt .b-two{
    border: none;
    width: 45%;
    height: 100%;
    color: #ffffff;
    background: none;
    font-weight: bold;
    background-color: blueviolet;
}
#one-diss{
    width: 50%;
    height: 20px;
    margin-top: 5%;
    margin-left: 5%;
    line-height: 20px;
    border-left: 4px solid blue;
}
#one-diss .txt-three{
    font-weight: bold;
    text-indent: 10px;
    display: block;
    font-size: 10px;
}
#one-pngs{
    width: 90%;
    height: 350px;
    margin: 25% auto auto auto;
    border-radius: 20px;
    background-color: black;
}